<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">

   <!-- Declare arguments -->
   <xacro:arg name="name" default="ur"/>
   <xacro:arg name="ur_type" default="ur3e"/>
   <xacro:arg name="tf_prefix" default=""/>
   <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   <xacro:arg name="force_abs_paths" default="false"/>
   <xacro:arg name="robot_name" default="ur"/>
   <xacro:arg name="use_gazebo" default="true"/>
   <xacro:arg name="use_camera" default="false"/>

   <!-- Include UR macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <!-- Include Robotiq 140 macro -->
   <xacro:include filename="$(find robotiq_2f_gripper_description)/urdf/robotiq_2f_140_macro.xacro" />

   <!-- Create link fixed to the "world" -->
   <!-- <link name="world" /> -->

   <!-- Arm -->
   <xacro:ur_robot
     name="$(arg name)"
     tf_prefix="$(arg tf_prefix)"
     safety_k_position="$(arg safety_k_position)"
     force_abs_paths="$(arg force_abs_paths)"
     skip_base_joint="true">
     <origin xyz="0 0 0" rpy="0 0 0" /> <!-- Ignored when skip_base_joint is true -->
   </xacro:ur_robot>

   <!-- Instantiate Robotiq 140 Gripper -->
   <xacro:robotiq_arg2f_140 prefix=""/>

   <!-- Attach Gripper to UR Flange (tool0) -->
   <joint name="ur_to_gripper" type="fixed">
     <parent link="tool0"/>
     <child link="robotiq_arg2f_base_link"/>
     <origin xyz="0 0 0" rpy="0 0 0"/>
   </joint>

   <!-- Gazebo/Control Plugins -->
   <xacro:include filename="$(find ur_description)/urdf/gazebo_sim_ros2_control.urdf.xacro" />
   <xacro:load_gazebo_sim_ros2_control_plugin
     robot_name="$(arg robot_name)"
     use_gazebo="$(arg use_gazebo)"/>

   <xacro:include filename="$(find ur_description)/urdf/ur.ros2_control.xacro" />
   <xacro:ur_ros2_control name="ur_robot" initial_positions_file="$(find ur_description)/config/initial_positions.yaml" use_gazebo="$(arg use_gazebo)"/>

   <!-- Robotiq Mimic Joint Plugins for Gazebo Sim (140 specific) -->
   <xacro:include filename="$(find ur_description)/urdf/robotiq_140_mimic.gazebo.xacro" />
   <xacro:robotiq_140_mimic_plugins prefix="" />

   <!-- Include Intel RealSense Camera (Conditional) -->
   <xacro:if value="$(arg use_camera)">
     <xacro:include filename="$(find ur_description)/urdf/intel_rgbd_cam_d435.urdf.xacro"/>
   </xacro:if>

</robot>
